{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <h2 class="display-5 font-weight-bold text-danger">Are you sure you want to delete this party?</h2>
    <div class="mb-4">
        <p>Name: {{ party.name }}</p>
        <p>Logo: <img src="{{ party.logo.url }}" width="50"></p>
    </div>
    
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'party_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% include 'footer.html' %}
{% endblock %}
