{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-login mt-5">
    <h2>Vote Management</h2>
    <a href="{% url 'add_vote' %}" class="btn btn-primary mb-3">Add New Vote</a>
    <table class="table">
        <thead>
            <tr>
                <th>Polling Station</th>
                <th>Candidate</th>
                <th>Votes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in votes %}
            <tr>
                <td>{{ vote.polling_station.name }}</td>
                <td>{{ vote.candidate.name }} ({{ vote.candidate.party.name }})</td>
                <td>{{ vote.votes }}</td>
                <td>
                    <a href="{% url 'update_vote' vote.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_vote' vote.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}
{% endblock %}
